*{margin:0;padding:0;
    font-family: Microsoft YaHei,sans-serif;}
.list{
    margin-top:50px;
    border-top:10px solid #f4f4f4;
}
li{
    margin:0px 8px;
    list-style: none;
    border-bottom: 1px solid #a0a0a0;
    color:black;
    text-align:left;
    font-size:17px;
    padding-left: 15px;
}
.a{
    height:42px;
    line-height:48px;
}
.b{
    height:95px;
    line-height:40px;
}
.b img{
    width:70px;
    height:65px;
    border:3px solid #d0cece;
    vertical-align:top;
    margin:12px 20px;
}
.fillin{
    position:absolute;
    left:130px;
    height:40px;
    width:61%;
    border:0px;
    font-size:17px;
    text-align: right;
    color:#696767;
    margin-top:2px;
}
.btn{
    width:100%;
    background:#3399ff;
    border:0px;
    color:white;
    height:35px;
    position:fixed;
    bottom:0px;
    font-size:18px;
}

